 * {
  font-family:arial; 
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}
/*....................nav.............................*/

.country-wrapp .pad{
 
 padding: 100px 0px;
}

div.conttainer a
{
  color: #08C299;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
  font-weight: bold;
  cursor: pointer; }
  .borderXwidth{  
   position: absolute;
   
   right: 40px;
 }
 .borderXwidth a:before, .borderXwidth a:after
 {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 1px;
  content: '';
  background: #FFC107;
  transition: all 0.5s;
}
.borderXwidth a:before
{
  left: 0px;
  top: 0px;
}
.borderXwidth a:after
{
  right: 0px;
  bottom: 0px;
}
.borderXwidth a:hover{
 color: #FFC107;
 text-shadow: 0px 0px 2px black;
 
 transition: 0.5s;
 overflow: hidden;

}
.borderXwidth a:hover:before, .borderXwidth a:hover:after
{
  box-shadow: 0px 0px 1px black;
  opacity: 1;
  width: 100%;
  }/*..................slider......................*/

  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }


  #myVideo {
    max-width: 100%; 
    width: 100%;
    height:auto;
    overflow: hidden;

  }

  .content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 116vh;
  }
  .nav-item .nav-link:hover{
    color: #F9BE37;
  }
  .hero-wrap{
   height: 80vh; 
   background-position: center center;
 }
 .hero-wrap-liner{
  width: 100%;height: 80vh;background: linear-gradient(rgba(0 , 0 , 0 , 0.4),rgba(0 , 0 , 0 , 0.5))
}
.ftco-navbar-light{
  background-color:#fff;width: 100%;z-index: 999; 
}
.head-mes{
  position: absolute;
  top: 0px;
  right: 20px;
  width: 100%;
  min-height: 100vh;
  color: #eee;
  overflow: hidden;
  z-index: 33333333333;
}
.tilt {
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  margin: 50px auto;
}
.tilt-movie, .tilt-movie img {
  width: 200px;
  height: 300px;
}
.tilt  h4{
  letter-spacing: 1px;
}
.head-mes .social{ 
  position: absolute; 
  right: -20px;
  top: 40%;
  margin-top: -89px;
  width: 100px;
  height: auto;
  z-index: 2; }
  .head-mes .social a{
    position: relative; display: block;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin: 10px 4px;
    line-height: 32px;
    border: 1px solid #29D6B1;
    transition: 0.3s;
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px #29D6B1;

  }
  .head-mes .social a:hover{
    box-shadow: 0px 0px 10px black;
  }
  .head-mes i{
    font-size: 22px;
  }
  .head-mes .social a .title{
    position: absolute; display: none;
    top: 14px; left: -85px; height: 20px; line-height: 20px;
    background: #182034; color: #fff;
    padding: 0 5px; font-size: 14px;
    animation: fadeIn 1s;
  }
  .head-mes .social a:hover{ animation: swing 0.3s; opacity: 1; }
  .head-mes .social a:hover .title{ display: block; }
  .head-mes .facebook:hover{ background: #5274DC; border-color: #5274DC; }
  .head-mes .twitter:hover{ background: #2EC1E2; border-color: #2EC1E2; }
  .head-mes .instagram:hover{ background: #DC3278; background: linear-gradient(45deg,#FEC561,#C10060,#4B0082); border: none; }
  .head-mes .youtube:hover{ background: #F30007; border-color: #F30007; }
  .head-mes .telegram:hover{ background: #1D98DC; border-color: #1D98DC; }
  .head-mes .phone:hover{ background: #24CC77; border-color: #24CC77; }
  .tours-video{
    margin-bottom: -32px;
  }
  .header-imge{
    background:url(../../images/yoz.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .tours-text h1{
    font-size: 50px;
    color: white;
  }
  .wrap-nationals{
    width: 100%;
    background-image: url(../../images/bgimage-2.jpg);
    height: auto;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .wrap-nationals-about{
    background: rgba(0,0,0,0.6);width: 100%;height: auto;overflow: hidden;
  }
  .tours-new{
    background:url(../../images/kyr2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -999;
    bottom: -152px;
    text-align: inherit; 

  }
  .tours-new2{
    background:url(../../images/registon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -999;
    bottom: -152px; 
  }
  .ftco-footer-widget h2{
    color: #08C299;
  }
  .tours-home-bg{
    /*padding: 100px 0px;*/
    background:url(../../images/Krg/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
  }
  .tours-home-rgba{
    padding: 100px 0px;
    background: rgba(40,214,176,0.4);
  }
  .tours-home-rgba .heading{
    color: white;
  }
  .cs_arrowprev img{
    width: 100%;
    height: 70px;
  }
  .cs_description img{
    width: 100%;
    height: 70px;
  }

  /*...............................all....................................*/
  .navbar-brand img{
    width: 150px;
    height: 40px;
    /*background: transparent;*/
  }
  .footer-img img{
    width: 100px;
    height: 50px;
  }
  .footer-img{
    text-align: center;
  }
  /*....................................index.........................................*/
  .check{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 320px;
  }
  .icon-tel span{
    color: green;
  }
  /*.........................................about.........................................*/
  .about-img{
    background:url(../../images/uzb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F0F0F0;
    text-align: center;
    /*padding: 100px 20px;*/
    margin: 10px;
  }
  .about-img:hover .about-rgb{
    background-color: rgba(0,0,0,0.8);
    transition: 1s;
  }
  .about-img h3{
    color: #F0F0F0;
  }
  .about-rgb{
    background-color: rgba(0,0,0,0.5);
    padding: 100px 20px;
  }
  /*..........................col................................*/
  .boxx{
     /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);*/
      width: 100%;
      height: 375px;
      background: #000;
      overflow: hidden;
    }
.figuree{
      width: 100%;
      height: 100%;
    }
.figuree img{
      width: 100%;
      height: 375px;
      transition: 1s;

    }
.boxx:hover .figuree img{
      transform:scale(1.3);
      opacity: .5;
    }
.captionn{
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
    }
    .captionn:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 2px dotted #08C299;
      border-bottom: 2px dotted #08C299;
      box-sizing: border-box;
      transition: 0.5s;
      transform: scale(0,1);
    }
.boxx:hover .captionn:before
    {
      transform: scale(1,1);
    }

    .captionn:after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-left: 1px dotted #08C299;
      border-right: 1px dotted #08C299;
      box-sizing: border-box;
      transition: 0.5s;
      transform: scale(1,0);
    }
.boxx:hover .captionn:after
    {
      transform: scale(1,1);
    }
.aboutt
    {
      position: absolute;
      /*top: 50%;*/
      transform: translateY(-50%,-50%);
      z-index: 1;
      padding: 20px 30px;
      transition: 0.5s;     
      opacity: 0;
      text-align: center;
    }
.aboutt h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    }
.boxx:hover .aboutt{
      opacity: 1;
    }
.aboutt h2{
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.aboutt p{
  color: #969696;
  margin: 0px 0;
  padding: 0;
  font-size: 16px;
}
/*...............................blog..........................................................*/k
  .owl-prev{
    display: none;
  }
  iframe{
    width: 100%;
  }
.nextprev .presentation{
  display: none !important;
}
   .ftco-degree-bg .ph2{
      text-align: center;
      font-size: 20px;
      }
  .ftco-degree-bg p{
    font-size: 18px;
  }

    .middle{
      width: 100%;
      }
    .btnn{
      text-align: center;
      display: inline-block;
      width: 50px;
      height: 50px;
      background: #f1f1f1;
      margin: 5px;
      border-radius: 30%;
      box-shadow: 0px 5px 15px -5px black;
      color: #3498db;
      overflow: hidden;
      position: relative;
    }
    .btnn i{
      line-height: 50px;
      font-size: 22px;
      transition: 0.2s linear;
    }
    .btnn:hover i{
      transform: scale(1.3);
      color:#f1f1f1; 
    }
    .btone::before{
      content: " ";
      position: absolute;
      width: 120%; 
      height:120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .bttwo::before{
      content: " ";
      position: absolute;
      width: 120%; 
      height:120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .btthree::before{
      content: " ";
      position: absolute;
      width: 120%; 
      height:120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .btfour::before{
      content: " ";
      position: absolute;
      width: 120%; 
      height:120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .btfive::before{
      content: " ";
      position: absolute;
      width: 120%; 
      height:120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
    .btnn:hover::before{
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
    }
    @keyframes aaa{
      0%{ 
        left: -110%;
        top: 90%;
      }
      50%{
        left: 10%;
        top: -30%;
      }
      100%{
        top: -10%;
        left: -10%;
      }
    }
/*..............................................Tourss.................................................*/
.containerr{
  width: 100%;
  margin: 0 auto;
}
.containerrr{
  width: 90%;
  margin: 0 auto;
}
/*:::::::::::::country::::::::::::::::::::*/
.hr-bottom{
  width: 5%;height: 5px;
  border-radius: 10px;
  background-color: #09C299;
  margin: 10px auto;
}
.counter-wrapp-text p{
  font-size: 25px;
  text-align: center;
  color: #707070;
}

.counter-wrapp-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapp-button-coun {
  width: 160px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #09C299;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 20px auto;
}

.wrapp-button-coun:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.counter-wrapp-tems-text span{
  color: #09C299;
}

.owl-carousell .item{
  padding:0 !important;
  height:400px !important;;
}

.slider-counter  .owl-carousell .owl-item div{
 position: relative;
 overflow: hidden;
}
.slider-counter  .owl-carousell .owl-item img{
 display: block;
 width: 100%;
 height: auto;
 border-radius: 20px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 max-height: 1490px;
 -webkit-transition: all 20s;
 -moz-transition: all 20s;
 -o-transition: all 20s;
 transition: all 20s;
 transition-timing-function:linear;
}
.slider-counter  .owl-carousell .owl-item:nth-child(even) img{
 -webkit-transform: scale(1.4);
 -ms-transform: scale(1.4);
 transform: scale(1.4);
 -webkit-transform-origin: bottom right;
 -moz-transform-origin: bottom right;
 -ms-transform-origin: bottom right;
 -o-transform-origin: bottom right;
 transform-origin: bottom right;
}

.slider-counter .owl-carousell .owl-item:nth-child(odd) img{
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 -webkit-transform-origin: bottom left;
 -moz-transform-origin: bottom left;
 -ms-transform-origin: bottom left;
 -o-transform-origin: bottom left;
 transform-origin: bottom left;
}
.slider-counter  .owl-carousel .owl-stage-outer{
  border-radius: 20px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
.carousel-wrap .slider-items{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 5px;
}
.slider-counter  .owl-dots .owl-dot {
  top: -50px;
  
}

.slider-counter .owl-theme .owl-dots .owl-dot span{
  width: 0;
}
.slider-counter .owl-carousell .owl-item.active:nth-child(even) img{
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}

.slider-counter .owl-carousell .owl-item.active:nth-child(odd) img{
 -webkit-transform: scale(1.4);
 -ms-transform: scale(1.4);
 transform: scale(1.4);
}

.statics-wrap-text{
  width: 100%; 
  text-align: left;
  overflow: hidden; 
  border-bottom: 1px solid #D9D9D9;

}
.statics-wrap-text p{
  padding-left: 60px;
  font-size: 24px;
  vertical-align: middle;
  padding-top: 5px;
}
.statics-wrap-text img{
  position: absolute;
  width: 40px;
}
.statics-wrap-text span{
  color: #FF8000;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}
.counter-wrapp-tem  video{
  width: 100%;
  height: auto;
}
.counter-wrapp-tem  .item a:hover:before {
  background-color: transparent;
}

/*tourss*/

.tours-show .hotel-img {
  height: 240px;
}
.tours-show .owl-carousel .owl-dots{
  top: -50px;
  position: relative;
}
.tours-show .single-slider .owl-nav {
  top: -50px;
}
.tours-show{
  border-radius: 10px; overflow: hidden;position: relative;padding: 15px 15px 0 15px; 
}
.tour-show2-wrapp{
  border-left: 2px solid #E8E8E8;position: relative;
}
.tour-show2-wrapp-tem{
  font-weight: bold;color: #00DB98; text-shadow: 1px 1px 5px rgba(46, 229, 157, 0.4);
}
.tour-show2-wrapp-tetx{
  font-weight: bold;font-size: 30px;color: #FF8000;line-height: 30px;text-transform: uppercase;position: absolute;right: 0;top: 0;text-shadow: 1px 1px 2px black;
}
.modal-col10-tetx{
  font-size: 18px;color: #707070;text-align: justify;padding: 10px 0;
}
.modal-col10-wrap{
  color:#FF8000;font-size: 18px;font-weight: bold;
}
.color-icons{
 color:#FF8000;
}
.modal-col10-span{
  padding-left: 10px;font-size: 18px;
}

.tour-show2-wrapp .wrapp-button-coun{
  border-radius: 10px;
}

/*tours-page-modals*/




.tours-page-modals .header-tour{
  width: 100%;background-color:  #16C59E;-webkit-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
}

.tours-page-modals  .modal-tour-about{
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: -2px -2px 35px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -2px 35px -24px rgba(0,0,0,0.75);
  box-shadow: -2px -2px 35px -24px rgba(0,0,0,0.75);
}


.tours-page-modals  .tours-tem{
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  padding: 20px;
}

.tours-page-modals  .tours-text{
  font-size: 18px;
  font-weight: 300;
}

.tours-page-modals  .tours-text-span{
  position: absolute;
  color: #16C59E;

}   

.tours-page-modals   .tours-text span{ 
  color: #16C59E;

}

.tours-page-modals  .tours-text  p{
  padding-left: 30px;
}
.tours-page-modals   input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


/* Accordion styles */

.tours-page-modals  .tabs { 
  overflow: hidden; 
}


.tours-page-modals  .tab {
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  
  position: relative;

}


.tours-page-modals  .tab>.tab-befo:before {
  content: '';
  position: absolute;
  left:-8px;
  z-index: 777;
  top: 20px;
  background: #fff;
  border: 2px solid  #16C59E;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.tours-page-modals   .tab-befo{
  overflow: hidden;
  border-left: 1px dashed  #16C59E;
}

.tours-page-modals  .tab-label {
  display: flex;
  justify-content: space-between;
  padding:15px 0px 15px 30px; 
  font-weight: bold;
  cursor: pointer; 
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  border-top: 0.5px solid rgba(0, 0, 0, 0.3);
  
}


.tours-page-modals  .tab-label:hover {
 
  color: #13AA89;
}

.tours-page-modals  .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;
}

.tours-page-modals  .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
}

.tours-page-modals  .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  
  cursor: pointer;
}

.tours-page-modals  .tab-close:hover {
 
  color:  #16C59E;
}



.tours-page-modals  input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tours-page-modals  input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.tours-page-modals  .wrap-tour-iconcheck{
  padding:0 15px;
}

.tours-page-modals   .header-tour a{
  position: absolute;
  left: 20px;
}

.tours-page-modals .header-tour a i{
  font-size: 40px;
  font-weight: bold;
  color: white; 
}
/*::::::::::::::::::::::::::::::::::::::::about::::::::::::::::::::::::::::::::::::::;*/
.body-img{
  background:url(../../images/uzb/11.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}
.body-rgba{
  padding: 80px 0px 100px 0px;
  background: rgba(0,0,0,0.5);
}
.contact-h2 h2{
  text-align: center;
  font-size: 40px;
  padding: 30px 0px;
}
* {
  margin: 0;
  padding: 0;
}
html{
  --i: -1;
  --j: -1;
  --r: 0px;
  width: 100%
  height: 100%;
  background-blend-mode: luminosity;
}
.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4em;
    max-width: 1100px;
    font: 1em/1.5 trebuchet ms, verdana, sans-serif;
}
.heaader{
  margin: 1rem;
  padding: 10px 0;
  border-radius: .5em;
  min-width: 95%;
  background:rgba(8,194,153,0.7);
  text-align: center;
  color: white;
  font-size: 30px;
}
.articlee{
  overflow: hidden;
  margin: 1rem;
  width: 21em;
  min-width: 15rem;
  border-radius: 1em;
  z-index: 2; 
}
.articlee:hover p{
  text-shadow: 0px 0px 2px black;
  /*color: red;*/
  font-size: 16px;
}
.articlee:hover.heaader:after{
    padding: calc(.355*var(--r));
}
.articlee:nth-of-type(1) {
  --c0: rgba(8,194,153,0.7);
  --c1: rgba(8,194,153,0.5);
}
.articlee:nth-of-type(2) {
  --c0: rgba(8,194,153,0.7);
  --c1: rgba(8,194,153,0.5);
}
.articlee:nth-of-type(3) {
  --c0: rgba(8,194,153,0.7);
  --c1: rgba(8,194,153,0.5);
}
.articlee:nth-of-type(4) {
  --c0: rgba(8,194,153,0.7);
  --c1: rgba(8,194,153,0.5);
  color: white;
}
.body h3, .sectionn {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: red;
  position: relative;
  padding: 0.5rem;
}
.body h3:before, .sectionn:before {
  position: absolute;
  z-index: -1;
  top: calc(var(--j)*1rem + (1 + var(--j))*50% - var(--r));
  left: calc(var(--i)*1rem + (1 + var(--i))*50% - var(--r));
  padding: var(--r);
  border-radius: 50%;
  box-shadow: 0 0 0 50em;
  content: "";
}

.body h3:before, .sectionn {
  color: var(--c1);
}

.body h3 {
  justify-content: center;
  color:white;
  font-size: 1.75em;
  text-align: center;
  min-height: var(--r);
  padding: 20px 0px;
}
h3:before {
  opacity: 0.65;
}

.sectionn {
  justify-content: space-between;
  min-height: calc(var(--r) - 1rem);
}
.sectionn:before {
  color: var(--c0);
}

.body p {
  margin-right: 1em;
  font-size: .875em;
  color: white;
  text-align: center
}


@media (min-width: 34rem) {
  html {
    --r: 4rem;
  }

 .heaader  {
    position: relative;
  }
  .heaader:before, .heaader:after {
    position: absolute;
    left: 50%;
    content: "";
  }
  .heaader:before {
    top: 100%;
    width: calc(.0625*var(--r));
    height: calc(1.6*var(--r) + 1rem);
    transform: translate(-50%);
    background:#08C299;
  }
  .heaader:after {
    top: calc(3*1rem + 3.125*var(--r));
    border: solid calc(.575*var(--r)) transparent;
    padding: calc(.325*var(--r));
    border-radius: 50%;
    transform: translate(-50%, -55%);
    /*box-shadow: 0 0 10px #08C299;*/
    background:url(../../images/uzb.jpg) ;
    height: 30px;
    width: 30px;
  }

  .articlee {
    width: 40%;
  }
  .articlee:nth-of-type(-n + 2) {
    --j: 1;
  }
  .articlee:nth-of-type(odd) {
    --i: 1;
  }
  .articlee:nth-of-type(-n + 2) h3:before, .articlee:nth-of-type(n + 3) .sectionn:before {
    --r: 0;
  }
  .articlee:nth-of-type(-n + 2) .sectionn, .articlee:nth-of-type(n + 3) h3 {
    padding-right: calc(.5*(1 + var(--i))*(var(--r) - 1rem) + 0.5rem);
    padding-left: calc(.5*(1 - var(--i))*(var(--r) - 1rem) + 0.5rem);
  }
}
/*visa:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.vise-wrapp .tabs {
  position: relative;
  margin: 40px auto;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 60px;
}
.vise-wrapp .tabs input {
  position: absolute;
  z-index: 1;
  width: 25%;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  margin: 0;
}
.vise-wrapp .tabs input#tab-2 {
  left: 20%;
}
.vise-wrapp .tabs input#tab-3 {
  left: 40%;
}
.vise-wrapp .tabs input#tab-4 {
  left: 60%;
}
.vise-wrapp .tabs input#tab-5 {
  left: 80%;
}

.vise-wrapp .tabs label {
  background:#09C299;
  color: #fefefe;
  font-size: 15px;
  line-height: 50px;
  height: 60px;
  position: relative;
  top: 0;
  padding: 0 20px;
  float: left;
  display: block;
  width: 20%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}
.vise-wrapp .tabs label:hover {
  cursor: pointer;
}

.vise-wrapp .tabs label:after {
  content: '';
  background: #fefefe;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.vise-wrapp .tabs input:hover + label {
  background: #e08f24;
}

.vise-wrapp .tabs label:first-of-type {
  z-index: 2;
}

.vise-wrapp .tab-label-2 {
  z-index: 2;
}

.vise-wrapp .tab-label-3 {
  z-index: 2;
}

.vise-wrapp .tab-label-4 {
  z-index: 2;
}
.vise-wrapp .tab-label-5 {
  z-index: 2;
}

.vise-wrapp .tabs input:checked + label {
  background: #fefefe;
  color: #1a1a1a;
  z-index: 2;
}

.vise-wrapp .clear-shadow {
  clear: both;
}

.vise-wrapp .content {
  height: auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 2;
  background: #fefefe;
  top: -10px;
  box-sizing: border-box;
}
.vise-wrapp .content div {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #fefefe;
}
.vise-wrapp .content div h2 {
  margin-top: 0;
}

.vise-wrapp .tabs .tab-selector-1:checked ~ .content .content-1,
.vise-wrapp .tabs .tab-selector-2:checked ~ .content .content-2,
.vise-wrapp .tabs .tab-selector-3:checked ~ .content .content-3,
.vise-wrapp .tabs .tab-selector-4:checked ~ .content .content-4, 
.vise-wrapp .tabs .tab-selector-5:checked ~ .content .content-5 {
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  padding: 5%;
}

.vise-wrapp .content div h2 {
  color: #3f6b9d;
}
.left-border{

}
.vise-wrapp .content div p  {
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
  color: #777;
  padding-left: 15px;
  border-left: 8px solid rgba(63, 148, 148, 0.1);
}
.vise-wrapp .content div span{
  color: #777;
  font-size: 18px;
  
} 
.vise-wrapp .content li{
  line-height: 30px;
}
.vise-wrapp .content ul{
 border-left: 8px solid rgba(63, 148, 148, 0.1);
}
.mobile-city-slider{
  display: none;
}
.country-wrapp{
  display: block;
}
.heading-section .h22{
  margin: 80px 0px;
}
.heading-section .h222{
  margin: 50px;
}
.heading-section-white{
  padding: 80px 0px 150px 0px;
}
@media screen and (max-width: 1200px) {
  .tours-col3{
    display: none;
  }
  .tours-col9{
    width: 100%;
  }
}



@media screen and (max-width: 992px) {
  .tour-show2{
    margin-left:15px;
  }
}




@media screen and (max-width: 768px) {
#appp img{
  background-size: cover;
  width: 0px;
}

.country-wrapp .header{
  /*margin-top: -200px;*/
  margin-bottom: 50px;
  padding-bottom: 100px;
  text-align: center;
  margin: 0 auto;
}
.country-wrapp p{
  background: transparent;
}
.content{
  height: 200px;
}
.tab-wrap{
   top: -40px;
   margin-bottom: 150px;
}
footer{
  line-height: 40px;
}
.ftco-footer-widget .block-23 .text{
  text-align: center;
  margin: 0 auto;
}
 .mobile-city-slider{
    display: block;
  }
  .country-wrapp{
  display: none;
}
.container{
  padding: 0px -30px 0px -30px;
  margin: 0px ;
}
.heading-section .h22{
  margin: -80px 0px;
}
.heading-section .h222{
  margin: 0px;
}
.heading-section-white h2{
  font-size: 20px;
} 
.heading-section-white{
  padding: 0px 0px 80px 0px;
}
.heaader{
  font-size: 25px;
}
}



@media screen and (min-width: 768px) {
  .vise-wrapp .tabs input:checked + label {
    top: -5px;
  }
}



@media screen and (max-width: 767px) {
  .tabs {
    height: auto;
    background: #fefefe;
    padding-bottom: 200px;
    width: 95%;
  }
  .vise-wrapp .tabs label {
    text-align: left;
  }
  .vise-wrapp .tabs input:checked + label {
    padding-left: 30px;
  }
  .vise-wrapp .tabs label, .tabs input {
    width: 100%;
    position: absolute;
  }
  .vise-wrapp .tabs label.tab-label-1, .tabs label#tab-1, .tabs input.tab-label-1, .tabs input#tab-1 {
    width: 84%;
    top: 200px;
    left: 0;
    height: 50px;
    z-index: 5 !important;
  }
  .vise-wrapp  .tabs label.tab-label-2, .tabs label#tab-2, .tabs input.tab-label-2, .tabs input#tab-2 {
    width: 88%;
    top: 150px;
    left: 0;
    height: 100px;
    z-index: 4 !important;
  }
  .vise-wrapp .tabs label.tab-label-3, .tabs label#tab-3, .tabs input.tab-label-3, .tabs input#tab-3 {
    width: 92%;
    top: 100px;
    left: 0;
    height: 150px;
    z-index: 3 !important;
  }
  .vise-wrapp .tabs label.tab-label-4, .tabs label#tab-4, .tabs input.tab-label-4, .tabs input#tab-4 {
    width: 96%;
    top: 50px;
    left: 0;
    height: 200px;
    z-index: 2 !important;
  } 
  .vise-wrapp .tabs label.tab-label-5, .tabs label#tab-5, .tabs input.tab-label-5, .tabs input#tab-5 {
    width: 100%;
    top: 0;
    left: 0;
    height: 250px;
    z-index: 1 !important;
  }
  .vise-wrapp  .tabs .content {
    top: 250px;
  }
}

@media screen and (max-width:576px) {
.mobile-city-slider h3{
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
 .country-wrapp{
 /*margin-top: -320px;*/
}
.tab-wrap{
  width: 100%
   top: -240px;
   margin-bottom: 150px;
}
}